

@media screen and (max-width: 1300px) {
    .landing_container {
        width: auto;
        padding-top: 120px;
        padding-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .landing_title {
        padding-bottom: 80px;
    }
    .landing .landing_container .landing_icon_container {
        width: 950px;
        margin: 0 auto;
    }
    .landing .landing_container .landing_icon_container span h1 {
        font-size: 18px;
    }
    .landing .landing_container .landing_icon_container span img {
        width: 80px;
        height: 80px;
    }
    .landing .landing_container .landing_icon_container span {
        width: 200px;
    }
    .landing .landing_container .landing_icon_container span a {
        width: 80px;
        height: 80px;
    }

    .work {
        padding-left: 3vw;
        padding-right: 3vw;
    }
    .body_left {
        width: auto;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .body_left .body_left_headline {
        font-size: 42px;
    }
    .body_left .body_left_paragraph {
        margin-top: 20px;
    }
    .body_left img {
        width: 100%;
    }

    .body_right {
        width: auto;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .body_right .body_right_headline {
        font-size: 42px;
    }
    .body_right .body_right_paragraph {
        margin-top: 20px;
    }
    .body_right img {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .landing_container {
        padding-top: 100px;
    }
    .landing_title {
        width: auto;
    }
    .landing .landing_container .landing_icon_container {
        width: auto;
    }
    .landing .landing_container .landing_icon_container span img {
        width: 70px;
        height: 70px;
    }
    .landing .landing_container h1 {
        font-size: 46px;
    }
    .landing .landing_container p {
        font-size: 18px;
    }

    .work {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        margin-top: -30px;
    }
    .body_left,
    .body_right {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 30px;
        display: block;
    }
    .body_left .image_container,
    .body_right .image_container {
        width: auto;
        height: 500px;
        padding-left: 0;
    }
    .body_left .image_container .image,
    .body_right .image_container .image {
        margin-left: 0;
        margin-right: 0;
    }
    .body_left .text_container,
    .body_right .text_container {
        text-align: left;
        width: auto;
        height: auto;
        padding-right: 0;
        padding-left: 0;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: -30px;
        height: auto;
    }
    .body_left .body_left_headline,
    .body_right .body_right_headline,
    .body_left .body_left_paragraph,
    .body_right .body_right_paragraph {
        -webkit-font-smoothing: antialiased;
        max-width: none;
        position: center;
    }
    .body_left .body_left_headline,
    .body_right .body_right_headline {
        display: inline;
        font-size: 32px;
    }
    .body_left .body_left_paragraph,
    .body_right .body_right_paragraph {
        font-size: 19px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) { /* PHONE LAYOUT*/
    .landing_container {
        width: auto;
        margin: 0 auto;
        padding: 50px 15px;
        padding-top: 75px;
    }
    .landing_title {
        width: auto;
        padding-bottom: 50px;
        margin: 0 auto;
    }
    .landing .landing_container h1,
    .landing .landing_container p {
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
    .landing .landing_container h1 {
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
    }
    .landing .landing_container p {    
        font-size: 18px;
        font-weight: 300;
        line-height: 1.25;
        letter-spacing: 0.02em;
    }
    .landing .landing_container .landing_icon_container {
        display: flex;
    }
    .landing .landing_container .landing_icon_container span {
        width: 20vw;
        margin: 0 auto;
    }
    .landing .landing_container .landing_icon_container span h1 {
        display: none;
    }
    .landing .landing_container .landing_icon_container span img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block;
    }

    .work {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .body_left, .body_right {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 20px;
        display: block;
    }
    .body_left .text_container .text,
    .body_right .text_container .text {
        padding: 20px 20px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -25px;
        height: auto;
    }
    .body_left:hover .text_container .text,
    .body_right:hover .text_container .text {
        margin-top: -25px;
    }
    .body_left .image_container,
    .body_right .image_container {
        height: 250px;
    }
    .body_left .body_left_headline,
    .body_right .body_right_headline {
        font-size: 26px;
    }
    .body_left .body_left_paragraph,
    .body_right .body_right_paragraph {
        font-size: 17px;
        line-height: 1.45;
    }
}