@media screen and (max-width: 1300px) {
    .footer {
        padding: 20px 50px;
    }
    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .right_header a {
        font-size: 16px;
    }
    
    .footer {
        padding: 20px 30px;
    }
    .copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 650px) {
    .nav_bar {
        padding-top: 0px;
    }
    .right_header {
        display: none;
    }
    .right_header div {
        margin-left: 15px;
    }
    .right_header a {
        font-size: 14px;
    }

    .footer {
        width: auto;
        padding: 20px 15px;
    }
}

@media screen and (max-width: 600px) {
    .social {
        width: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .social_container {
        width: 250px;
        margin-right: 0px;
        margin-left: auto;
    }
    .copyright {
        font-size: 12px;
        width: auto;
    }
}