.landing {
    height: 900px;
    position: relative;
}
.landing .bg_wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.9));
}
.landing .bg_wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    -webkit-animation: zoom_out 1s;
    -moz-animation:    zoom_out 1s;
    -ms-animation:     zoom_out 1s;
    -o-animation:      zoom_out 1s;
    animation:         zoom_out 1s;
}
.landing_container {
    width: 1260px;
    margin: 0 auto;
    padding-top: 240px;
    padding-bottom: 460px;
}
.landing_title {
    max-width: 800px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: 0px;
}
.landing .landing_title h1,
.landing .landing_title a,
.landing .landing_title p {
    font-family: 'Open Sans', sans-serif;
}
.landing .landing_title .available {
    display: block;
    margin-bottom: 30px;
}
.landing .landing_title a {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-radius: 5px;
    padding: 6px;
    color: rgb(135, 148, 165);
    background-color: rgb(222, 223, 226);
    
    -webkit-animation: fadein_developer 1.7s;
    -moz-animation:    fadein_developer 1.7s;
    -ms-animation:     fadein_developer 1.7s;
    -o-animation:      fadein_developer 1.7s;
    animation:         fadein_developer 1.7s;
}
.landing .landing_title h1 {
    font-weight: 700;
    font-size: 84px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 30px;
    
    -webkit-animation: fadein_developer 1.7s;
    -moz-animation:    fadein_developer 1.7s;
    -ms-animation:     fadein_developer 1.7s;
    -o-animation:      fadein_developer 1.7s;
    animation:         fadein_developer 1.7s;
}
.landing .landing_title p {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.45;
    letter-spacing: 0.015em;

    max-width: 600px;

    -webkit-animation: fadein_designer 2.3s;
    -moz-animation:    fadein_designer 2.3s;
    -ms-animation:     fadein_designer 2.3s;
    -o-animation:      fadein_designer 2.3s;
    animation:         fadein_designer 2.3s;
}
.landing .blur_region {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.landing .blur_region .overview {
    width: auto;
    max-width: 1260px;
    margin: 0 auto;
    padding: 100px 0;

    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.05em;
}
.landing .blur_region .overview h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 40px;
}
.landing .blur_region .overview .highlight_flexbox_container {
    display: flex;
}
.landing .blur_region .overview .highlight_container {
    margin-right: 130px;
}
.landing .blur_region .overview .highlight_container h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.landing .blur_region .overview .highlight_container p {
    font-weight: 600;
    font-size: 18px;
}


.app_preview {
    padding: 150px 30px;
}
.app_preview .app_preview_wrapper {
    width: auto;
    max-width: 1260px;
    height: 945;

    margin-left: auto;
    margin-right: auto;
}
.app_preview .app_preview_wrapper img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;

    -webkit-animation: slide_up 0.8s;
    -moz-animation:    slide_up 0.8s;
    -ms-animation:     slide_up 0.8s;
    -o-animation:      slide_up 0.8s;
    animation:         slide_up 0.8s;
}
.app_preview .app_preview_wrapper h1,
.app_preview .app_preview_wrapper p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.05em;

    margin: 0 100px;
}
.app_preview .app_preview_wrapper h1 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .1em;

    margin-bottom: 30px;
}
.app_preview .app_preview_wrapper p {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .01em;
    line-height: 1.7em;
}


.four_square {
    padding: 150px 30px;
    padding-bottom: 100px;
}
.four_square .four_square_wrapper {
    display: flex;
    width: auto;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
}
.four_square .four_square_header_container {
    width: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .1em;
    text-align: left;
}
.four_square .four_square_header_container h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.05em;
    margin-left: 70px;
}
.four_square .four_square_header_container h2 {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.5em;
    padding-bottom: 30px;
    margin-left: 70px;
}
.four_square .four_square_header_container p {
    max-width: 700px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    margin-left: 70px;
}
.four_square .square_info_container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.3s;
}
.four_square .square_info_container:hover {
    margin-top: -10px;
}
.four_square .four_square_wrapper #left {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
}
.four_square .four_square_wrapper #center {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.four_square .four_square_wrapper #right {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
.four_square .square_info_container .square_border_wrapper {
    padding: 10px;
}
.four_square .square_info_container img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    position: center;
    background-size: contain;
}
.four_square .square_info_container h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.05em;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .1em;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}


.themes {
    padding: 150px 30px;
    padding-top: 100px;
    padding-bottom: 0px;
}
.themes .themes_wrapper {
    width: auto;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.themes .themes_wrapper .themes_header_container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .06em;
    text-align: center;
}
.themes .themes_wrapper .themes_header_container h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.05em;
    padding-bottom: 30px;
}
.themes .themes_wrapper .themes_header_container p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8em;
}
.themes .theme_row {
    display: flex;
    width: 100%;
}
.themes .theme_group {
    padding-bottom: 100px;
}
.themes #light {
    padding-right: 30px;
}
.themes #dark {
    padding-left: 30px;
}
.themes #olivia {
    padding-bottom: 0px;
}
.themes .themes_wrapper .theme_group img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

    position: center;
    background-size: contain;

    transform: scale(1.0);
}
.themes .themes_wrapper .theme_group h1 {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.05em;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .1em;

    color: rgb(151, 151, 151);
    
    padding-left: 60px;
    padding-bottom: 20px;
}

.lifestyle,
.automate {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lifestyle .lifestyle_gradient_wrapper,
.automate .automate_gradient_wrapper {
    padding: 0px 30px;
}
.lifestyle .lifestyle_wrapper,
.automate .automate_wrapper {
    padding: 150px 0px;
}
.lifestyle .text_container,
.automate .text_container {
    width: auto;
    max-width: 1260px;
    margin: 0 auto;

    font-family: 'Open Sans', sans-serif;
}
.lifestyle .text_container h1,
.automate .text_container h1 {
    line-height: 1.05em;
    font-weight: 600;
    font-size: 46px;
    letter-spacing: .06em;

    margin-bottom: 20px;
}
.lifestyle .text_container p,
.automate .text_container p {
    line-height: 1.9em;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .08em;

    max-width: 700px;
}

#lifestyle .text_container {
    text-align: right;
}
#lifestyle .text_container p {
    margin-left: auto;
}

.community_wrapper {
    width: auto;
    max-width: 1260px;
    margin: 0 auto;

    padding-top: 150px;
    padding-bottom: 150px;
}
.community .container {
    display: flex;
}
.community .container .discordc, .community .container .guide {
    width: 50%;
}
.community .container .discord_wrapper, .community .container .guide_wrapper {
    display: flex;
    padding: 45px 35px;
}
.community .container .discordc {
    padding-right: 30px;
}
.community .container .guide {
    padding-left: 30px;
}
.community .container .text_container {
    padding-left: 30px;
}
.community .container img {
    width: 50px;
    vertical-align: text-top;
    margin-bottom: auto;
    border-radius: 12px;
}
.community .container #community_discord img {
    box-shadow: 3px 3px 6px rgba(86, 111, 194, 0.1);
}
.community .container #community_guide img {
    box-shadow: 3px 3px 6px rgba(254, 199, 0, 0.1);
}
.community .container h1,
.community .container p,
.community .container a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    letter-spacing: 0.02em;
}
.community .container h1 {
    font-weight: 600;
    font-size: 16px;
}
.community .container p {
    font-size: 17px;
    line-height: 1.7;
    padding-top: 20px;
    padding-bottom: 30px;
}
.community .container a {
    cursor: pointer;
    font-size: 15px;
}