body {
    background-color: rgb(241, 241, 241);
}


.right_header a {
    color: rgb(192, 198, 207);
}
.right_header #active {
    color: rgb(135, 148, 165);
}
.nav_bar .current {
    color: #f0d5b6;
}
.right_header a:hover {
    color: rgb(135, 148, 165);
}


.landing .bg_wrapper {
    background-image: linear-gradient(to right, rgba(20, 20, 20, 0), rgba(20, 20, 20, 0.9));
}
.landing .landing_title h1 {
    color: rgb(135, 148, 165);
}
.landing .landing_title p {
    color: rgb(173, 177, 185); 
}
.landing .landing_container h2 {
    color: rgb(192, 198, 207);
}
/*
 * SOME BROWSERS LIKE FIREFOX DO NOT SUPPORT BACKDROP-FILTER YET, AND THE BLUR DIV
 * WAS DESIGNED WITH THAT PROPERTY IN MIND. BY DEFAULT, THE ENTIRE BLURRED SECTION
 * WILL BE REMOVED IF THE BROWSER DOES NOT SUPPORT THIS CSS PROPERTY. THIS SECTION
 * MAKES IT VISIBLE AND ADJUSTS THE ENTIRE LANDING SECTION TO ACCOMODATE THIS.
 */
@supports ((-webkit-backdrop-filter: initial) or(backdrop-filter: initial)) {
    .landing_container {
        padding-top: 200px;
        padding-bottom: 240px;
    }
    .landing .landing_title p {
        max-width: 580px;
    }
    .landing .blur_region {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;

        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .landing .bg_wrapper figure {
        background-image: url("images/ultraboost_white_2.jpg");
    }
}
.landing .blur_region .overview h1 {
    color: rgb(135, 148, 165);
}
.landing .blur_region .overview .highlight_container h3 {
    color: rgb(135, 148, 165);
}
.landing .blur_region .overview .highlight_container p {
    color: rgb(192, 198, 207);
}
.landing .landing_title a {
    color: rgb(135, 148, 165);
    background-color: rgb(222, 223, 226);
}
.landing #download {
    background-color: rgba(222, 223, 226, 0);
}


.app_preview {
    background-image: linear-gradient(to bottom, rgb(209, 216, 226), rgb(241, 241, 241));
}
.app_preview .app_preview_wrapper h1 {
    color: rgb(184, 189, 197);
}
.app_preview .app_preview_wrapper p {
    color: rgb(135, 148, 165);
}


#lifestyle {
    background-image: url("images/lifestyle.jpg");
}
#lifestyle .lifestyle_gradient_wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
#lifestyle .text_container h1 {
    color: rgb(218, 218, 218);
}
#lifestyle .text_container p {
    color: rgb(200, 200, 200);
}


.customize {
    background-color: rgb(25, 25, 25);
}
.customize .customize_header_container h1 {
    color: rgb(136, 136, 136);
}
.customize .customize_header_container h2 {
    color: rgb(221, 221, 221);
}
.customize .customize_header_container p {
    color: rgb(190, 190, 190);
}
.customize .square_info_container .square_border_wrapper {
    background-color: rgb(42, 42, 42);
}
.customize .square_info_container h1 {
    color: rgb(190, 190, 190);
}


.themes {
    background-image: linear-gradient(to bottom, rgb(25, 25, 25), rgb(42, 42, 42));
}
.themes .themes_wrapper {
    background-color: rgb(42, 42, 42);
}
.themes .themes_wrapper .themes_header_container h1 {
    color: rgb(221, 221, 221);
}
.themes .themes_wrapper .themes_header_container p {
    color: rgb(192, 192, 192);
}
.themes .themes_wrapper .themes_banner_container h1 {
    color: #e8c4b8;
}
.themes .themes_banner_container img {
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.6);
}
.themes .theme_card {
    box-shadow: 0px 10px 42px rgba(0, 0, 0, 0.6);
}


#automate {
    background-image: url("images/ultraboost.jpg");
}
#automate .automate_gradient_wrapper {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
#automate .text_container h1 {
    color: rgb(218, 218, 218);
}
#automate .text_container p {
    color: rgb(200, 200, 200);
}


.community {
    background-color: rgb(250, 250, 250);
}
.community .container .discord_wrapper, .community .container .guide_wrapper {
    background-color: rgb(231, 232, 236);
}
.community .container h1 {
    color: rgb(186, 192, 200);
}
.community .container p {
    color: rgb(135, 148, 165);
}
.community .container a {
    color: rgb(129, 169, 255);
}
.community .container #community_discord img {
    box-shadow: 3px 3px 6px rgba(86, 111, 194, 0.1);
}
.community .container #community_guide img {
    box-shadow: 3px 3px 6px rgba(254, 199, 0, 0.1);
}


.footer {
    background-color: rgb(231, 232, 236);
}
.footer .logo_wrapper h1 {
    color: rgb(185, 185, 185);
}
.footer .logo_wrapper figure {
    filter: brightness(0.5);
}
.youtube {
    background-image: url("images/footer/youtube_light.png");
}
.instagram {
    background-image: url("images/footer/instagram_light.png");
}
.twitter {
    background-image: url("images/footer/twitter_light.png");
}
.discord {
    background-image: url("images/footer/discord_light.png");
}
.github {
    background-image: url("images/footer/github_light.png");
}

.copyright {
    color: rgb(185, 185, 185);
}