/* KEYFRAME ANIMATIONS GO HERE */

/* BLANK ANIMATION USED TO DELAY OTHER ANIMATIONS */
@keyframes blank_opacity {
    from { opacity: 0; }
    to   { opacity: 0; }
}

@keyframes fade_in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slide_up {
    from {
        -webkit-transform: translateY(60px);
        transform: translateY(60px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide_up_80 {
    from {
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide_up_100 {
    from {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide_up_170 {
    from {
        -webkit-transform: translateY(170px);
        transform: translateY(170px);
    }
    to {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes zoom_out {
    from {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.landing .bg_wrapper figure {
    animation-timing-function: cubic-bezier(.28,.35,.37,.99);
    -webkit-animation: zoom_out 1s;
    -moz-animation:    zoom_out 1s;
    -ms-animation:     zoom_out 1s;
    -o-animation:      zoom_out 1s;
    animation:         zoom_out 2s;
}

.nav_bar .header_logo_wrapper,
.nav_bar .first,
.nav_bar .second,
.nav_bar .third,
.nav_bar .fourth,
.landing .landing_title h1,
.landing .landing_title p,
.landing .landing_title .download_button {
    animation-fill-mode: forwards;

    -webkit-animation-name: blank_opacity, fade_in;
    -moz-animation-name:    blank_opacity, fade_in;
    -ms-animation-name:     blank_opacity, fade_in;
    -o-animation-name:      blank_opacity, fade_in;
    animation-name:         blank_opacity, fade_in;
}
.nav_bar .header_logo_wrapper {
    animation-delay: 0s, .1s;
    animation-duration: .1s, 1.6s;
}
.nav_bar .first {
    animation-delay: 0s, .2s;
    animation-duration: .2s, 1.6s;
}
.nav_bar .second {
    animation-delay: 0s, .3s;
    animation-duration: .3s, 1.6s;
}
.nav_bar .third {
    animation-delay: 0s, .4s;
    animation-duration: .4s, 1.6s;
}
.nav_bar .fourth {
    animation-delay: 0s, .5s;
    animation-duration: .5s, 1.6s;
}
.landing .landing_title h1 {
    animation-delay: 0s, .3s;
    animation-duration: .3s, 1.6s;
}
.landing .landing_title p {
    animation-delay: 0s, .7s;
    animation-duration: .7s, 1.6s;
}
.landing .landing_title .download_button {
    animation-delay: 0s, .8s;
    animation-duration: .8s, 1.6s;
}


.app_preview .app_preview_wrapper img {
    animation-timing-function: ease-in-out;
    
    -webkit-animation: slide_up_170 0.8s;
    -moz-animation:    slide_up_170 0.8s;
    -ms-animation:     slide_up_170 0.8s;
    -o-animation:      slide_up_170 0.8s;
    animation:         slide_up_170 0.8s;
}