/*
 * SOME BROWSERS LIKE FIREFOX DO NOT SUPPORT BACKDROP-FILTER YET, AND THE BLUR DIV
 * WAS DESIGNED WITH THAT PROPERTY IN MIND. BY DEFAULT, THE ENTIRE BLURRED SECTION
 * WILL BE REMOVED IF THE BROWSER DOES NOT SUPPORT THIS CSS PROPERTY. THIS SECTION
 * MAKES IT VISIBLE AND ADJUSTS THE ENTIRE LANDING SECTION TO ACCOMODATE THIS.
 */

@media only screen and (max-width: 1200px) {
    .right_header a {
        font-size: 15px;
    }


    .app_preview .app_preview_wrapper h1,
    .app_preview .app_preview_wrapper p {
        margin: 0 7vw;
    }
    .app_preview .app_preview_wrapper h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .app_preview .app_preview_wrapper p {
        font-size: 26px;
        letter-spacing: .01em;
        line-height: 1.6em;
        margin-bottom: 50px;
    }


    .lifestyle .lifestyle_wrapper,
    .automate .automate_wrapper {
        padding: 100px 0px;
    }
    .lifestyle .text_container h1,
    .automate .text_container h1 {
        font-size: 38px;
        letter-spacing: .05em;
    }
    .lifestyle .text_container p,
    .automate .text_container p {
        line-height: 1.7em;
        font-size: 16px;
        max-width: 50vw;
    }


    .customize .customize_header_container {
        padding-left: 6vw;
        padding-right: 6vw;
    }
    .customize .customize_header_container h1 {
        font-size: 28px;
    }
    .customize .customize_header_container h2 {
        font-size: 46px;
        padding-bottom: 20px;
    }
    .customize .customize_header_container p {
        font-size: 18px;
        max-width: 550px;
    }


    .mockup_render .mockup_wrapper h1,
    .mockup_render .mockup_wrapper p {
        margin: 0 7vw;
    }
    .mockup_render .mockup_wrapper h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .mockup_render .mockup_wrapper p {
        font-size: 26px;
        letter-spacing: .01em;
        line-height: 1.6em;
    }
    .mockup_render .mockup_wrapper img {
        margin-bottom: 100px;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.3);
    }


    .themes .themes_wrapper {
        padding-top: 120px;
    }
    .themes .themes_wrapper .themes_header_container {
        width: 550px;
    }
    .themes .themes_wrapper .themes_header_container h1 {
        font-size: 44px;
        padding-bottom: 20px;
    }
    .themes .themes_wrapper .themes_header_container p {
        font-size: 18px;
    }
    .themes .themes_wrapper .themes_banner_container h1 {
        font-size: 16px;
    }


    .community .container .discord_wrapper,
    .community .container .guide_wrapper {
        padding: 35px 25px;
    }
    .community .container h1 {
        font-size: 13px;
    }
    .community .container p {
        font-size: 14px;
        padding-bottom: 25px;
    }
    .community .container a {
        font-size: 12px;
    }


    .footer {
        padding: 40px 50px;
    }
}

@media only screen and (max-width: 1200px) {
    .nav_bar {
        padding: 30px 50px;
    }
    .nav_bar img {
        height: 28px;
    }
    .landing {
        padding-top: 500px;
    }
    .landing .bg_wrapper figure {
        max-height: 720px;
    }
    .landing #download,
    .landing #learn {
        padding: 40px 50px;
    }
}


/* START TABLET LAYOUT */
@media only screen and (max-width: 1050px) {
    .nav_bar {
        padding: 30px 30px;
    }


    .landing .landing_title .landing_text_container {
        padding: 25px 30px;
    }


    .app_preview {
        padding: 120px 0px;
    }
    .app_preview .app_preview_wrapper h1 {
        font-size: 14px;
    }
    .app_preview .app_preview_wrapper p {
        font-size: 24px;
    }


    .lifestyle .lifestyle_gradient_wrapper,
    .automate .automate_gradient_wrapper {
        padding: 0px 30px;
    }
    .lifestyle .lifestyle_wrapper,
    .automate .automate_wrapper {
        padding: 80px 0px;
    }
    .lifestyle .text_container h1,
    .automate .text_container h1 {
        font-size: 34px;
    }
    .lifestyle .text_container p,
    .automate .text_container p {
        font-size: 15px;
    }


    .customize {
        padding: 120px 30px;
    }
    .customize .customize_header_container {
        padding-bottom: 60px;
    }
    .customize .customize_header_container h1 {
        font-size: 24px;
    }
    .customize .customize_header_container h2 {
        font-size: 42px;
    }
    .customize .customize_header_container p {
        font-size: 16px;
        max-width: 480px;
    }


    .mockup_render {
        padding: 120px 0px;
    }
    .mockup_render .mockup_wrapper h1 {
        font-size: 14px;
    }
    .mockup_render .mockup_wrapper p {
        font-size: 24px;
    }
    .mockup_render .mockup_wrapper img {
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
    }


    .themes {
        padding: 120px 0px;
        padding-bottom: 0px;
    }


    .community {
        padding: 0 30px;
    }
    .community_wrapper {
        padding-top: 120px;
        padding-bottom: 120px;
    }


    .footer {
        padding: 40px 30px;
    }
}

@media only screen and (max-width: 900px) {
    .landing #learn,
    .landing #download {
        font-size: 20px;
    }
}

@media only screen and (max-width: 860px) {
    .app_preview .app_preview_wrapper h1 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .app_preview .app_preview_wrapper p {
        font-size: 22px;
        line-height: 1.4em;
    }


    .customize .customize_cards_container {
        flex-direction: column;
    }
    .customize .customize_cards_container #left,
    .customize .customize_cards_container #center,
    .customize .customize_cards_container #right {
        width: 100%;
        padding: 0;
        padding-bottom: 40px;
    }
    .customize .customize_cards_container #right {
        padding-bottom: 0px;
    }
    .customize .square_info_container .square_border_wrapper {
        display: flex;
    }
    .customize .customize_cards_container #center .square_border_wrapper {
        flex-direction: row-reverse;
    }
    .customize .square_info_container img {
        width: 50%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .customize .square_info_container h1 {
        margin: 0 auto;
    }
    .customize .customize_header_container {
        padding-bottom: 50px;
    }
    .customize .customize_header_container h2 {
        padding-bottom: 20px;
    }
    .customize .customize_header_container p {
        line-height: 1.8em;
    }


    .mockup_render .mockup_wrapper p {
        font-size: 22px;
    }
    .mockup_render .mockup_wrapper img {
        box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.3);
    }


    .community .container .discordc {
        padding-right: 20px;
    }
    .community .container .guide {
        padding-left: 20px;
    }
    .community .container .text_container {
        padding-left: 20px;
    }
    .community .container img {
        width: 45px;
        min-width: 45px;
        border-radius: 10px;
    }


    .footer {
        padding: 40px 7vw;
    }
}

@media only screen and (max-width: 800px) {
    .nav_bar {
        padding-top: 20px;
    }
    .nav_bar .hamburger {
        display: block;
        cursor: pointer;
        right: 0;
    }
    .nav_bar .header_logo_wrapper {
        margin-right: auto;
    }
    .right_header {
        display: none;
    }
    .right_header div {
        margin-left: 15px;
    }
    .right_header a {
        font-size: 14px;
    }


    .landing .landing_title h1 {
        font-size: 24px;
    }
    .landing .landing_title p {
        font-size: 17px;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 750px) {
    .nav_bar {
        padding: 50px 40px;
        padding-top: 20px;
    }

    .landing .landing_title p {
        font-size: 16px;
    }
    .landing #download,
    .landing #learn {
        font-size: 18px;
        padding: 40px 40px;
    }


    .app_preview {
        padding: 100px 0px;
    }
    .app_preview .app_preview_wrapper p {
        margin-bottom: 30px;
    }


    .lifestyle .lifestyle_gradient_wrapper,
    .automate .automate_gradient_wrapper {
        padding: 0px 40px;
    }
    .lifestyle .text_container h1,
    .automate .text_container h1 {
        font-size: 32px;
    }
    .lifestyle .text_container p,
    .automate .text_container p {
        font-size: 14px;
    }


    .customize {
        padding: 120px 40px;
    }


    .mockup_render {
        padding: 100px 0px;
    }
    .mockup_render .mockup_wrapper img {
        margin-bottom: 70px;
    }


    .community {
        padding: 0 40px;
    }
    .community_wrapper {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .community .container {
        flex-direction: column;
    }
    .community .container .discord_wrapper,
    .community .container .guide_wrapper {
        padding: 50px 35px;
    }
    .community .container .discordc,
    .community .container .guide {
        width: auto;
    }
    .community .container .discordc {
        padding-right: 0px;
        padding-bottom: 40px;
    }
    .community .container .guide {
        padding-left: 0px;
    }
    .community .container .text_container {
        padding-left: 25px;
    }


    .footer {
        padding: 40px 30px;
    }
    .footer .footer_container {
        display: block;
    }
    .footer .logo_wrapper,
    .social,
    .copyright {
        width: auto;
        margin: 0 auto;
    }
    .social {
        padding: 15px 0px;
    }
    .footer .logo_wrapper figure {
        background-position: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 24px;
    }
    .footer .logo_wrapper h1 {
        font-size: 17px;
        margin-right: auto;
    }
    .copyright h1 {
        text-align: center;
        margin: auto;
    }
    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 12px;
        margin-right: 12px;
        width: 24px;
        height: 24px;
    }
}

@media only screen and (max-width: 650px) {
    .nav_bar {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }


    .footer {
        width: auto;
        padding: 50px 15px;
    }
}

/* MOBILE GLASS */
@media only screen and (max-width: 616px) {
    .landing {
        padding-top: 400px;
    }
    .landing .bg_wrapper figure {
        max-height: 810px;
    }
    .landing_title {
        flex-direction: column;
    }
    .landing .landing_title h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .landing .download_button {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    .landing #learn {
        display: none;
    }
    .landing #download {
        padding: 50px 30px;
        padding-right: 100%;
    }
}

@media only screen and (max-width: 600px) {


    .app_preview {
        padding: 80px 0vw;
    }


    #lifestyle .lifestyle_gradient_wrapper,
    #automate .automate_gradient_wrapper {
        padding: 0px 15px;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.712);
    }
    .lifestyle .lifestyle_wrapper,
    .automate .automate_wrapper {
        padding: 60px 0px;
    }
    .lifestyle .text_container p,
    .automate .text_container p {
        max-width: none;
    }


    .customize {
        padding: 80px 0px;
        padding-bottom: 80px;
    }
    .customize .customize_header_container {
        padding: 0 6vw;
        padding-bottom: 50px;
    }
    .customize .customize_header_container h1 {
        font-size: 20px;
    }
    .customize .customize_header_container h2 {
        font-size: 34px;
        padding-bottom: 10px;
    }
    .customize .customize_header_container p {
        font-size: 14px;
        line-height: 1.8em;
        max-width: 430px;
    }
    .customize .customize_cards_container #center .square_border_wrapper {
        flex-direction: column;
    }
    .customize .customize_cards_container #left,
    .customize .customize_cards_container #center {
        padding-bottom: 40px;
    }
    .customize .customize_cards_container #right {
        padding-bottom: 0px;
    }
    .customize .square_info_container .square_border_wrapper {
        flex-direction: column;
    }
    .customize .square_info_container img {
        width: 100%;
    }


    .mockup_render {
        padding: 80px 0vw;
    }


    .themes .themes_wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .themes .themes_wrapper .themes_header_container {
        width: auto;
        padding: 0 15px;
        padding-bottom: 80px;
    }
    .themes .themes_wrapper .themes_header_container h1 {
        font-size: 36px;
        padding-bottom: 20px;
    }
    .themes .themes_wrapper .themes_header_container p {
        font-size: 14px;
    }
    .themes .themes_banner_container {
        display: none;
    }
    .themes .themes_wrapper .themes_banner_container h1 {
        font-size: 15px;
    
        padding-left: 6vw;
        padding-bottom: 15px;
    }
    .themes .theme_row {
        display: none;
    }
    .themes .mobile_theme_column {
        display: flex;
        flex-direction: column;
    }
    .themes .theme_mobile_card {
        width: 100%;
        margin-bottom: 50px;
    }
    .themes .mobile_theme_column #theme_card_bottom {
        margin-bottom: 0px;
    }
    .themes .theme_mobile_card img {
        width: 100%;
        height: 100%;
        background-size: contain;
        margin: auto;
    }
    .themes .theme_mobile_card h1 {
        font-family: 'Open Sans', sans-serif;
        line-height: 1.05em;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .06em;
    
        padding-left: 6vw;
        padding-bottom: 10px;
    }


    .community {
        padding: 0 15px;
    }
    .community_wrapper {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .community .container .discord_wrapper,
    .community .container .guide_wrapper {
        padding: 30px 15px;
    }
    .community .container .discordc {
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .community .container .text_container {
        padding-left: 20px;
    }
}

@media only screen and (max-width: 460px) {
    .landing .landing_title .landing_text_container {
        padding: 35px 15px;
    }
    .landing #download {
        padding: 45px 15px;
        padding-right: 100%;
    }
}

/* SHRINK FOOTER FOR SMALLER PHONES */
@media only screen and (max-width: 400px) {
    .social {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .logo_wrapper h1 {
        font-size: 14px;
    }
    .copyright h1 {
        font-size: 12px;
    }

    .youtube,
    .instagram,
    .twitter,
    .discord,
    .github {
        margin-left: 10px;
        margin-right: 10px;
    }
}


/* SHRINK DROPDOWN MENU TEXT FOR SHORT SCREENS (SUB 450PX HEIGHT) */
@media only screen and (max-height: 450px) {
    .sidenav {
        overflow-y: auto;
    }
    .sidenav a {
        font-size: 20px
    }
}