/* DEFAULT CSS */
.sidenav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    transition: 0.5s;
}
.sidenav .sidenav_bg {
    width: 0vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    transition: opacity 0.5s;
}
.sidenav_container {
    width: 80vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-y: hidden;
    transition: width 0.5s;
}
.sidenav_links {
    position: relative;
    top: 20%;
    width: 100%;
}
.sidenav_links a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: right;
    text-decoration: none;

    transition: 0.3s;
    background-color: inherit;
    padding: 14px 28px;
    cursor: pointer;
    display: block;
}


.nav_bar {
    padding: 30px 50px;
    padding-top: 50px;

    margin-left: auto;
    margin-right: auto;

    width: auto;
    max-width: 1300px;

    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.nav_bar img {
    height: 30px;
    z-index: 1;
    transition: all 0.5s;
    border-radius: 6px;
    object-fit: contain;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.nav_bar nav {
    display: flex;
}
.right_header {
    text-align: right;
    display: flex;

    margin-left: auto;
    margin-right: 0;
    z-index: 1;
}
.right_header div {
    margin-left: 50px;
}
.right_header a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: .06em;
    text-decoration: none;
    transition-duration: 0.3s;
}
.nav_bar .hamburger {
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 10;
}
/*ANIMATED HAMBURGER*/
.bar1, .bar3 {
    width: 25px;
    height: 3px;
    margin: 8px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5.5px, 4px);
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -3px);
    transform: rotate(45deg) translate(-3.5px, -2.5px);
}


main {
    transition: all 0.5s;
}


.landing {
    position: relative;
    padding-top: 600px;
}
.landing .bg_wrapper {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.landing .bg_wrapper figure {
    height: 100%;
    max-height: 768px;
    width: 100%;
    background-image: url("images/landing_test5.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.landing_container {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-backdrop-filter: blur(28px);
    z-index: 0;
}
.landing_title {
    margin-right: auto;
    margin-left: 0px;
    display: flex;
}
.landing .landing_title .landing_text_container {
    padding: 35px 55px;
    margin: auto;
}
.landing .landing_title h1,
.landing .landing_title a,
.landing .landing_title p {
    font-family: 'Inter', sans-serif;
}
.landing .landing_title .available {
    display: block;
    margin-bottom: 20px;
}
.landing .available_mobile {
    display: none;
}
.landing .download_button {
    margin-right: 0px;
    margin-left: auto;
    display: flex;
}
.landing .landing_title a {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-decoration: none;
}
.landing #download {
    font-size: 22px;
    white-space: nowrap; 
    padding: 73px 50px;
    transition-duration: 0.5s;
}
.landing .landing_title h1 {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.landing .landing_title p {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.015em;
}
.landing .blur_region {
    display: none;
    padding: 0 50px;
}
.landing .blur_region .overview {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    padding: 110px 0;

    font-family: 'Inter', sans-serif;
    letter-spacing: 0.05em;
}
.landing .blur_region .overview h1 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 60px;
}
.landing .blur_region .overview .highlight_flexbox_container {
    display: flex;
}
.landing .blur_region .overview .highlight_container {
    margin-right: 170px;
}
.landing .blur_region .overview #auto {
    margin-right: 0px;
}
.landing .blur_region .overview .highlight_container h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
}
.landing .blur_region .overview .highlight_container p {
    font-weight: 600;
    font-size: 18px;
}


.app_preview {
    padding: 150px 0px;
}
.app_preview .app_preview_wrapper {
    width: auto;
    max-width: 1200px;
    height: 945;

    margin-left: auto;
    margin-right: auto;
}
.app_preview .app_preview_wrapper #rectangle {
    display: none;
}
.app_preview .app_preview_wrapper img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.35);
}
.app_preview .app_preview_wrapper h1,
.app_preview .app_preview_wrapper p {
    font-family: 'Inter', sans-serif;
    line-height: 1.05em;

    margin: 0 100px;
}
.app_preview .app_preview_wrapper h1 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: .04em;

    margin-bottom: 20px;
}
.app_preview .app_preview_wrapper p {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: .01em;
    line-height: 1.7em;
}


.customize {
    padding: 150px 50px;
}
.customize .customize_cards_container {
    display: flex;
    width: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.customize .customize_header_container {
    width: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 70px;
    padding-bottom: 80px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}
.customize .customize_header_container h1 {
    font-weight: 300;
    font-size: 34px;
    letter-spacing: .06em;
    line-height: 1.05em;
}
.customize .customize_header_container h2 {
    font-weight: 500;
    font-size: 56px;
    letter-spacing: .01em;
    line-height: 1.5em;
    padding-bottom: 30px;
}
.customize .customize_header_container p {
    max-width: 700px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .06em;
    line-height: 1.6em;
}
.customize .square_info_container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.3s;
}
.customize .customize_cards_container #left {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
}
.customize .customize_cards_container #center {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.customize .customize_cards_container #right {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}
.customize .square_info_container .square_border_wrapper {
    padding: 10px;
}
.customize .square_info_container img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    position: center;
    background-size: contain;
}
.customize .square_info_container h1 {
    font-family: 'Inter', sans-serif;
    line-height: 1.05em;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .06em;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 30px;
}


.mockup_render {
    padding: 150px 0px;
}
.mockup_render .mockup_wrapper {
    width: auto;
    max-width: 1200px;
    height: 945;

    margin-left: auto;
    margin-right: auto;
}
.mockup_render .mockup_wrapper #rectangle {
    display: none;
}
.mockup_render .mockup_wrapper h1,
.mockup_render .mockup_wrapper p {
    font-family: 'Inter', sans-serif;
    line-height: 1.05em;

    margin: 0 100px;
}
.mockup_render .mockup_wrapper h1 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .04em;

    margin-bottom: 30px;
}
.mockup_render .mockup_wrapper p {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: .02em;
    line-height: 1.7em;
    margin-bottom: 50px;
}
.mockup_render .mockup_wrapper img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.themes {
    padding: 150px 0px;
    padding-bottom: 0px;
}
.themes .themes_bg_wrapper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.themes .themes_wrapper {
    width: auto;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 150px;
    padding-bottom: 150px;
}
.themes .themes_wrapper .themes_header_container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;

    font-family: 'Inter', sans-serif;
    letter-spacing: .06em;
    text-align: center;
}
.themes .themes_wrapper .themes_header_container h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.05em;
    padding-bottom: 30px;
}
.themes .themes_wrapper .themes_header_container p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.8em;
}
.themes .themes_banner_container img {
    transition: all 0.5s;
}
.themes .theme_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.themes .theme_card {
    margin: 0 10px;
    transition: all 0.3s;

    /* remove 1px padding below images */
    line-height: 0;
}
.themes .theme_card:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.themes #theme_card_left {
    margin-left: 0px;
}
.themes #theme_card_right {
    margin-right: 0px;
}
.themes .theme_card img {
    width: 100%;
    background-size: contain;
    margin: auto;
}
.themes .themes_banner_container {
    padding-bottom: 20px;
}
.themes .mobile_theme_column {
    display: none;
}
.themes .themes_wrapper .themes_banner_container img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    position: center;
    background-size: contain;

    transform: scale(1.0);
}
.themes .themes_wrapper .themes_banner_container h1 {
    font-family: 'Inter', sans-serif;
    line-height: 1.05em;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .08em;

    padding-left: 60px;
    padding-bottom: 20px;
}


.lifestyle,
.automate {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.lifestyle .lifestyle_gradient_wrapper,
.automate .automate_gradient_wrapper {
    padding: 0px 50px;
}
.lifestyle .lifestyle_wrapper,
.automate .automate_wrapper {
    padding: 150px 0px;
}
.lifestyle .text_container,
.automate .text_container {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
}
.lifestyle .text_container h1,
.automate .text_container h1 {
    line-height: 1.05em;
    font-weight: 500;
    font-size: 42px;
    letter-spacing: .03em;

    margin-bottom: 20px;
}
.lifestyle .text_container p,
.automate .text_container p {
    line-height: 1.9em;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .06em;

    max-width: 700px;
}
#lifestyle .text_container {
    text-align: right;
}
#lifestyle .text_container p {
    margin-left: auto;
}


.community {
    padding: 0 50px;
}
.community_wrapper {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;

    padding-top: 150px;
    padding-bottom: 150px;
}
.community .container {
    display: flex;
}
.community .container .discordc,
.community .container .guide {
    width: 50%;
}
.community .container .discord_wrapper,
.community .container .guide_wrapper {
    display: flex;
    padding: 50px 35px;
}
.community .container .discordc {
    padding-right: 30px;
}
.community .container .guide {
    padding-left: 30px;
}
.community .container .text_container {
    padding-left: 30px;
}
.community .container img {
    width: 50px;
    vertical-align: text-top;
    margin-bottom: auto;
    border-radius: 12px;
}
.community .container h1,
.community .container p,
.community .container a {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.community .container h1 {
    font-size: 14px;
}
.community .container p {
    font-size: 14px;
    line-height: 1.7;
    padding-top: 20px;
    padding-bottom: 30px;
}
.community .container a {
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
}


.footer {
    padding: 30px 50px;
}
.footer .footer_container {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}
.footer .logo_wrapper {
    width: 33%;
    margin-right: auto;
    display: flex;
}
.footer .logo_wrapper figure {
    background-image: url("images/logo_light.png");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;

    margin-top: auto;
    margin-bottom: auto;
}
.footer .logo_wrapper h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.08em;
    margin: auto 0;
}
.social {
    width: 33%;
    margin: 0 auto;
}
.social .social_container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.copyright {
    width: 33%;
    margin-left: auto;
    display: flex;
}
.copyright h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.youtube,
.instagram,
.twitter,
.discord,
.github {
    margin-left: 7px;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    transition: all 0.2s;
}
.youtube:hover,
.instagram:hover,
.twitter:hover,
.discord:hover,
.github:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}